.toggle-button {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: var(--main-transparent);
}

.toggle-button:hover {
    background-color: var(--main-hover);
}

::ng-deep .js-plotly-plot .plotly .modebar {
    position: absolute;
    left: 50%;
    right: unset;
    top: 27px;
    transform: translateX(-50%);
}

::ng-deep .js-plotly-plot .plotly .modebar-group {
    padding-left: 0;
}

::ng-deep .js-plotly-plot .plotly .modebar-btn {
    background-color: unset;
}
