:host {
    height: 100%;
    font-size: 11px;
}

.upper-c {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.container, .container-legend {
    box-sizing: border-box;
    height: 100%; 
    width: 100%; 
    overflow: hidden;
}

.container-legend {
    padding-right: 20px;
}

.mat-form-field-ripple {
    background-color: var(--main-epa) !important;
}

::ng-deep .menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    font-size: 13px;
}

.menu-icon {
    position: absolute;
    top: 5px;
    left: 7px;
    z-index: 10;
}

.menu-field {
    width: 100%;
}

.remove-button {
    color: var(--main-epa);
}

.remove-button:hover, .download-button:hover {
    opacity: 0.5;
}