<div class="container">
    <div class="plot-menu">
        <mat-icon
            class="plot-menu-icon"
            [matMenuTriggerFor]="menu"
            matTooltip="Open plot menu."
            matTooltipPosition="after"
            >menu</mat-icon
        >
        <mat-menu #menu="matMenu">
            <mat-form-field class="menu-field" *ngIf="stateVariablesList">
                <mat-label>State Variables</mat-label>
                <mat-select [(ngModel)]="selectedSV" (selectionChange)="svChange($event)">
                    <mat-option *ngFor="let sv of stateVariablesList" [value]="sv">{{ sv }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="plot-menu-field">
                <mat-label>Chart Type</mat-label>
                <mat-select [(ngModel)]="plotType" (selectionChange)="chartChange($event)">
                    <mat-option value="bar">Bar</mat-option>
                    <mat-option value="scatter">Line</mat-option>
                    <mat-option value="markers">Scatter</mat-option>
                    <mat-option value="lines+markers">Line + Scatter</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-menu>
    </div>
    <app-plotly
        (toggleCSS)="toggleCSS()"
        (toggleCatchment)="addOrRemoveSelectedCatchment($event)"
        *ngIf="plotData"
        [data]="plotData"
        [plotTitle]="plotTitle"
    ></app-plotly>
</div>
