.container {
    display: grid;
    grid-template-rows: 1fr auto;
    border: 1px solid var(--main-border);
    background-color: lightpink;
}

.plot-menu {
    position: absolute;
    top: 24px;
    left: 0;
    z-index: 10;
}

.plot-menu-field {
}

.mat-form-field-ripple {
    background-color: var(--main-epa);
}

::ng-deep .menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    font-size: 13px;
}
