.container-input-page, .container-output-page {
    z-index: 999;
    inset: 0;
    min-width: 500px;
    max-height: var(--main-max-panel-height);
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: scroll;
    height: 812px;
    background-color: var(--main-color);
}

.container-input-page {
    position: absolute;
}
.container-output-page {
    position: relative;
}

.container > h2 {
    margin: 0;
    padding-top: .5rem;
}