<div>Boundary Segments</div>
<div *ngIf="!boundarySegments.length"><strong>This network has no boundary segments</strong></div>
<div class="button" *ngFor="let segment of boundarySegments" [class.active]="isActive(segment)"  (click)="selectSegment(segment)">
    <div>{{ segment }}</div>
</div>
<div>User Segments</div>
<div *ngIf="!userSegments.length"><strong>No user added segments</strong></div>
<div class="button" *ngFor="let segment of userSegments" [class.active]="isActive(segment)" (click)="selectSegment(segment)">
    <div>{{ segment }}</div>
</div>