.content {
    display: flex;
    background: var(--main-epa);
}

img {
    margin: 1rem;
}

#name {
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    color: white;
    margin-left: 2rem;
    align-self: center;
}
