.output-panel {
    display: grid;
    position: relative;
    background-color: beige;
    height: 100%;
}

.output-panel-controls {
    height: 24px;
    padding: 0.25rem;
    display: flex;
    vertical-align: middle;
    background-color: var(--main-epa);
}

select {
    width: 140px;
}

app-plot-container,
app-table-container,
app-map-container,
app-list-container {
    height: 300px;
}

app-table-container {
    min-width: 50%;
}
