.output-panel {
    display: grid;
    position: relative;
    background-color: var(--main-background);
}

.output-panel-controls {
    height: 24px;
    padding: 3px;
    display: flex;
    vertical-align: middle;
}

select {
    width: 140px;
}

app-plot-container,
app-table-container,
app-map-container,
app-list-container {
    height: 300px;
}
