body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--main-epa);
}

app-footer {
    text-align: center;
}

mat-grid-list {
    width: 95%;
    margin: 0 auto 30px auto;
}   
    
mat-grid-tile div {
    height: 100%;
    width: 100%;
}

mat-grid-tile {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}