<body>
    <app-header></app-header>
    <div class="task-bar">
        <div class="row-left">
            <mat-icon class="segment-status back" (click)="back()" matTooltip="Go back to map.">chevron_left</mat-icon>
            <div class="segment-status" (click)="aboutAQT()">About</div>
        </div>
        <div class="row-right">
            <mat-icon
                class="add"
                (click)="addContainer()"
                matTooltip="Add a new container to the dashboard."
                matTooltipPosition="after"
                >add_box</mat-icon
            >
        </div>
    </div>
    <app-about-output *ngIf="showAbout" (closeMe)="aboutAQT()"></app-about-output>
    <!-- <div [ngClass]="showLeftPanel ? 'left-panel' : 'hide'">
            <div class="left-panel-container">
                <div>
                    <label>Select All</label>
                    <input ng-model="toggleAllCatchments" type="checkbox" id="show-all" (change)="toggleAll()" />
                    <mat-icon
                        matTooltip="Close Catchment Panel."
                        matTooltipPosition="after"
                        class="toggle-button"
                        (click)="togglePanel()"
                        class="chevron"
                    >
                        chevron_left
                    </mat-icon>
                </div>
                <div class="list-container">
                    <ul>
                        <li *ngFor="let catchment of catchments">
                            <button
                                [ngClass]="catchment.selected ? 'active' : ''"
                                (click)="catchmentClick(catchment)"
                                (mouseover)="catchmentMouseOn(catchment)"
                                (mouseout)="catchmentMouseOut(catchment)"
                            >
                                {{
                                    catchment.catchment == pourPoint
                                        ? catchment.catchment + " (Pour
                                Point)"
                                        : catchment.catchment
                                }}
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="map-container">
                    <app-mini-map></app-mini-map>
                </div>
            </div>
        </div> -->
    <!-- <mat-icon
            *ngIf="!showLeftPanel"
            matTooltip="Open Catchment Panel."
            matTooltipPosition="after"
            class="toggle-button"
            (click)="togglePanel()"
            class="chevron"
        >
            chevron_right
        </mat-icon> -->
    <div
        class="output-panels"
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="outputPanels"
        (cdkDropListDropped)="dropContainer($event)"
    >
        <div #drag class="output-panel" *ngFor="let outputPanel of outputPanels; let i = index" cdkDrag>
            <div class="output-panel-controls">
                <div
                    class="output-panel-remove"
                    (click)="removeContainer(i)"
                    matTooltip="Click to remove container."
                    matTooltipPosition="after"
                >
                    <mat-icon>clear</mat-icon>
                </div>
                <div
                    class="output-panel-drag-handle"
                    cdkDragHandle
                    matTooltip="Click and hold to drag container."
                    matTooltipPosition="before"
                >
                    <mat-icon>open_with</mat-icon>
                </div>
            </div>
            <app-output-panel [panelType]="outputPanel.type"></app-output-panel>
        </div>
    </div>
    <app-footer></app-footer>
</body>
