:host {
    min-height: 0;
    max-height: 100%;
}

.items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 0 0 50%;
    box-sizing: border-box;
}

.section-item {
    height: 100%;
    overflow: hidden;
}

.scroll {
    overflow-y: auto;
    height: 100%;
}
