#layer-control {
    display: grid;
    grid-template-rows: 1fr auto;
}

#layer-select {
    display: grid;
    grid-template-columns: auto 2rem;
    column-gap: .125rem;
}

#editor-form {
    display: grid;
    place-items: center;
    row-gap: .25rem;
    background-color: var(--main-color);
    margin: 0 .25rem .25rem .25rem;
    padding: .25rem;
    border-radius: 0 0 5px 5px;
}

.editor-row {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    width: 100%;
}

.editor-item {
    display: grid;
    place-items: center;
}

select {
    width: 4rem;
}