#layer-control {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: .125rem;
}

#layer-select {
    display: grid;
    grid-template-columns: auto 2rem;
    column-gap: .125rem;
}

.button {
    font-size: .75rem;
    display: grid;
    place-items: center;
    height: 30px;
    border-radius: 5px;
    background-color: steelblue;
}

.button:hover {
    background: rgba(146, 146, 146, 0.5);
    cursor: pointer;
}

.active {
    background-color: rgb(250, 146, 146);
}

#editor-form {
    display: grid;
    place-items: center;
    row-gap: .25rem;
    background-color: lightgoldenrodyellow;
    margin: 0 .25rem .25rem .25rem;
    padding-top: .25rem;
    border-radius: 0 0 5px 5px;
}

#editor-form > .button {
    height: 1.5rem;
    padding: 0 .5rem;
    margin-bottom: .25rem;
    background-color: lightsteelblue;
}

#editor-form > .button:hover {
    background-color: steelblue;
}

.editor-row {
    display: grid;
    grid-template-columns: auto auto 1fr;
    place-items: center;
}

.editor-item {
    display: grid;
    place-items: center;
}

select {
    width: 4rem;
}

input[type='color']:hover {

}