.container {
   display: grid;
   grid-template-rows: 30px 1fr auto;
    position: absolute;
    top: 0px; bottom: 0; left: 0; right: 0;
    z-index: 0;
}

.table-container {
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

table {
    width: 100%;
    table-layout: fixed;
    text-align: center !important;
  }
  
  th, td {
    overflow: hidden;
    width: 100px;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: center !important;
    vertical-align: middle !important;
  }

:host ::ng-deep .mat-sort-header-container{
    justify-content: center;
}

:host ::ng-deep .mat-sort-header-content {
  font-size: 11px;
}

tr.mat-header-row {
  height: auto;
}


.mat-header-cell {
    padding-left: 20px;
    text-align: center !important;
}

.mat-header-cell:first-of-type {
  padding-left: 30px !important;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", verdana, arial, sans-serif;
  font-size: 14px;
  fill: rgb(68, 68, 68);
  opacity: 1;
  font-weight: normal;
  white-space: pre;
  padding: 5px;
}

.export{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.export:hover {
  opacity: 0.5;
}
.mat-cell, .mat-footer-cell {
  font-size: 11px;
}
tr.mat-row, tr.mat-footer-row {
  height: auto;
}