.table-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.table-scroll-panel {
    overflow-y: auto;
    height: 100%;
}

.table-header {
    position: sticky;
    top: -1px;
    background-color: yellow;
}

table {
    text-align: center;
    border-collapse: collapse;
    overflow-x: auto;
}

th,
td {
    min-width: 100px;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.table-controls {
    position: absolute;
    left: 0.25rem;
    bottom: 0.25rem;
}

.export-button {
    padding: 0.25rem;
    width: 100px;
}

:host ::ng-deep .mat-paginator-container,
:host ::ng-deep .mat-paginator-page-size,
:host ::ng-deep .mat-paginator-range-actions {
    min-height: 42px;
    height: 42px;
}

:host ::ng-deep .mat-paginator-page-size {
    align-items: center;
}
