.container-col-1 {
    width: 425px;
}

.scroll-pane {
    overflow-y: auto;
    height: 791px;
}

.container-item {
    margin: 5px;
    margin-top: 0;
}

.container-item,
.section-item {
    padding: .5rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--main-color);
}

#coords-form,
#source-form {
    display: grid;
    place-items: center;
}

#coords-form {
    grid-template-columns: auto auto;
    column-gap: 1rem;
}

#endpoint-form {
    display: grid;
    row-gap: .5rem;
}


#parameter-form {
    display: grid;
}

.form-row,
.controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.control {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.controls {
    column-gap: 1rem;
}

.button {
    font-size: .75rem;
    display: grid;
    place-items: center;
    height: 30px;
    border-radius: 5px;
    margin-bottom: .125rem;
    color: lightgoldenrodyellow;
    background-color: steelblue;
}

.button:hover {
    background: rgba(146, 146, 146, 0.5);
    cursor: pointer;
}

#mat-progress-bar {
    width: 95%;
    height: 2rem;
}
