<div class="container-col-1">
    <div class="container-item">
        <div id="coords-form" [formGroup]="coordsForm">
            <div>Lat <input type="number" formControlName="lat"/></div>
            <div>Lng <input type="number" formControlName="lng"/></div>
        </div>
    </div>
    <div class="container-item">
        <div id="source-form" [formGroup]="sourceForm">
            <div>
                Source <select type="text" formControlName="source">
                        <option value="null">Choose a source</option>
                    </select>
                within <input type="number" formControlName="within" min="1"> 
                <select>
                    <option>Km</option>
                    <option>Meters</option>
                    <option>Miles</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container-item" *ngIf="loadingApi">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="container-item" *ngIf="!loadingApi">
        <div id="api-form" [formGroup]="apiForm">
            <select>
                <option>{{ apiVersion }}</option>
            </select>
            <select formControlName="endpointSelect" (change)="updateEndpointForm()">
                <option [value]='null' selected>Select an endpoint</option>
                <option *ngFor="let endpoint of apiEndpointList">{{ endpoint.endpoint }}</option>
            </select>
        </div>
    </div>
    <div *ngIf="currentEndpoint" class="container-item">
        <form id="endpoint-form" [formGroup]="endpointForm">
            <div id="summary">{{ currentEndpoint.summary || 'this endpoint has no summary' }}</div>
            <div *ngFor="let input of formInputs" class="form-row">
                <label for="{{input}}">{{input}}</label>
                <input formControlName="{{input}}" type="text">
            </div>
            <div class="controls">
                <div class="button" (click)="reset()">Clear form</div>
                <div> 
                    <div *ngIf="!waiting" class="button" (click)="submitForm()">submit form</div>
                    <div *ngIf="waiting" class="button"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="dataReceived" class="container-item">
        <div class="data-output-options">
            <button (click)="showOutput()" mat-icon-button aria-label="View server output" title="Click to show the server output">
                <mat-icon>preview</mat-icon>
            </button>
            <button (click)="showTable()" mat-icon-button aria-label="Explore the data" title="Click to show the data table">
                <mat-icon>table_chart</mat-icon>
            </button>
            <button (click)="showGraph()" mat-icon-button aria-label="Explore the data" title="Click to view the graph">
                <mat-icon>analytics</mat-icon>
            </button>
            <button mat-icon-button aria-label="Save the data" title="Click to save the data">
                <mat-icon>save_alt</mat-icon>
            </button>
            <button mat-icon-button aria-label="Share the data" title="Click to share the data">
                <mat-icon>share</mat-icon>
            </button>
        </div>
    </div>
    <div *ngIf="exploreOutput" class="container-item">
        <!-- <cdk-virtual-scroll-viewport itemSize="500" class="output-viewport">
          <div *ngFor="let items of dataItems" class="output-item">{{ items | json }}</div>
        </cdk-virtual-scroll-viewport> -->
        <div class="output-viewport2">
            <div *ngFor="let item of dataItems">{{ item }}</div>
        </div>
    </div>
    <div *ngIf="exploreTable" class="container-item">
        <app-table></app-table>
    </div>
    <div *ngIf="exploreGraph" class="container-item">
        <app-graph></app-graph>
    </div>


</div>
