.input-container {
    width: 425px;
    display: grid;
    row-gap: var(--row-gap);
}

#mat-progress-bar {
    width: 95%;
    height: 2rem;
}

::ng-deep .mat-date-range-input {
    background-color: white;
    border: 1px solid gray;
    border-radius: 2px;
}

