.container-col-1 {
    width: 425px;
}

.scroll-pane {
    overflow-y: auto;
    height: 791px;
}

.container-item,
.section-item {
    margin: 5px;
    padding: .5rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--main-color);
}

.section-item {
    margin: 5px 0;
}

.first-item {
    margin-top: 0;
}

#endpoint-form {
    display: grid;
    row-gap: .5rem;
}

#parameter-form {
    display: grid;
}

.form-row,
.controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.control {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.controls {
    column-gap: 1rem;
}

#mat-progress-bar {
    width: 95%;
    height: 2rem;
}

::ng-deep .mat-date-range-input {
    background-color: white;
    border: 1px solid gray;
    border-radius: 2px;
}

