<div class="container-col-1">
    <div class="grid-item" id="coords">
        <div id="coords-form" [formGroup]="coordsForm">
            <div>Lat <input type="number" formControlName="lat"/></div>
            <div>Lng <input type="number" formControlName="lng"/></div>
        </div>
    </div>
    <div class="grid-item" id="source">
        <div [formGroup]="sourceForm">
            Source <select type="text" formControlName="source">
                <option value="null">Choose a source</option>
            </select>
        </div>
    </div>
    <div class="grid-item" id=endpoints>
        <div id="endpoint-select" [formGroup]="metForm">
            <select>
                <option>{{ apiVersion }}</option>
            </select>
            <select formControlName="endpointSelect" (change)="updateForm()">
                <option [value]='null' selected>Select an endpoint</option>
                <option *ngFor="let endpoint of apiEndpointList">{{ endpoint.endpoint }}</option>
            </select>
        </div>
    </div>
    <div *ngIf="currentEndpoint" class="grid-item">
        <form id="endpoint-form" [formGroup]="endpointForm">
            <div id="summary">{{ currentEndpoint.summary || 'this endpoint has no summary' }}</div>
            <div *ngFor="let input of formInputs" class="form-row">
                <label for="{{input}}">{{input}}</label>
                <input formControlName="{{input}}" type="text">
            </div>
            <div class="controls">
                <button mat-flat-button (click)="reset()">Clear form</button>
                <button mat-flat-button (click)="submitForm()">submit form</button>
            </div>
        </form>
    </div>
</div>
