.input-form {
  width: 36fr;
  min-width: 420px;
  display: grid;
  padding-top: 1.5rem;
  background-color: lightsteelblue;
  height: 100%;
}

.panel-row, 
.calendar-row,
.output-row {
  display: grid;
  max-width: 100%;
  place-items: center;
  height: 5rem;
}

.panel-row {
  grid-template-columns: 1fr 1fr;
}

.output-row {
  grid-template-columns: 1fr 3fr;
  margin-bottom: 3rem;
}

.submit-button {
  display: grid;
  place-items: center;
}

.text-area {
  border: 1px solid black;
}

.outline {
  border: 1px solid blue;
}