.input-form {
  display: grid;
  background-color: lightsteelblue;
  height: 100%;
}

.row {
  width: 100%;
}

.margin-top {
  margin-top: 1rem;
}

.panel, 
.calendar,
.button,
.output {
  display: grid;
  place-items: center;
}

.panel {
  grid-template-columns: 1fr 1fr;
}

.text-area {
  color: lime;
  background-color: rgb(44, 44, 44);
  padding-left: .5rem;
}

mat-form-field {
  width: 90%;
}

mat-form-field.mat-form-field {
  font-size: 12px;
  height: 1rem;
  padding-bottom: 2rem;
}

button {
  border-radius: 0px;
}