<div class="grid-container">
    <strong class="centered">Map Layers</strong>
    <div class="scroll-pane-right">
        <div class="container-item">
            <div>Basemaps</div>
            <div *ngFor="let map of basemaps" class="button" [class.active]=map.show (click)="toggleBasemap(map)"
                matTooltip="Select Basemap" matTooltipPosition="before">
                {{ map.name }}
            </div>
        </div>

        <div class="container-item">
            <div>Overlays</div>
            <app-layer-control *ngFor="let overlay of overlays" [feature]="overlay"></app-layer-control>
        </div>

        <div class="container-item" *ngIf="simFeatures.length">
            <div class="form-row">
                <div class="vertical-center">Study Area</div>
                <div class="segment-status" (click)="centerOnAOI()">Center Map</div>
            </div>
            <app-layer-control *ngFor="let feature of simFeatures" [feature]="feature"></app-layer-control>
        </div>
    </div>
</div>