.grid-container {
    display: grid;
    height: 100%;
    min-width: 160px;
    background-color: lightsteelblue;
    grid-template-rows: auto 1fr auto;
}

.item {
    margin: 5px;
    margin-top: 0;
}

.feature-buttons {
    display: grid;
    grid-template-columns: auto 2rem;
    column-gap: .125rem;
    margin-bottom: .125rem;
}

.button {
    font-size: .75rem;
    display: grid;
    place-items: center;
    height: 30px;
    border-radius: 5px;
    background-color: steelblue;
}

.button:hover {
    background: rgba(146, 146, 146, 0.5);
    cursor: pointer;
}

.active {
    background-color: rgb(250, 146, 146);
}

#basemaps,
#features,
#editor {
    padding: .25rem;
    border: 1px solid black;
    border-radius: 5px;
}

#basemaps {
    display: grid;
    row-gap: .125rem;
}

#editor-form {
    display: grid;
    place-items: center;
    row-gap: .25rem;
}

#editor-form > .button {
    width: 100%;
}