.grid-container {
    display: grid;
    height: 100%;
    min-width: 180px;
    background-color: lightsteelblue;
    grid-template-rows: auto 1fr;
}

.item {
    margin: 5px;
    margin-top: 0;
    padding: .25rem;
    border: 1px solid black;
    border-radius: 5px;
}

.button {
    font-size: .75rem;
    display: grid;
    place-items: center;
    height: 30px;
    border-radius: 5px;
    margin-bottom: .125rem;
    background-color: steelblue;
}

.button:last-of-type {
    margin-bottom: 0;
}

.button:hover {
    background: rgba(146, 146, 146, 0.5);
    cursor: pointer;
}

.active {
    background-color: rgb(250, 146, 146);
}