.container-col-1 {
    height: 100%;
    width: 425px;
}

.grid-item {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 5px;
    margin-top: 0;
    padding: .125rem;
    border: 1px solid black;
    border-radius: 5px;
}

#form {
    margin: .125rem;
    margin-top: 0;
    text-align: center;
}

#endpointForm {
    margin: .125rem;
    margin-top: 0;
    display: grid;
    row-gap: .25rem;
}

#summary {
    margin-bottom: .5rem;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.control {
    margin-top: .25rem;
    display: grid;
    place-items: center;
}