.container {
    display: grid;
    grid-template-areas: 
        "header",
        "navigation",
        "content",
        "footer";
}

.header,
.footer,
.navigation {
    background: #0e6993;
    text-align: center;
    height: 10vh;
}

.header {
    grid-area: "header";
}

.navigation {
    grid-area: "navigation";
}

.content {
    grid-area: "content";
}

.footer {
    grid-area: "footer";
}
