.container {
    display: grid;
    grid-template-areas: 
        "header"
        "navigation"
        "content"
        "footer";
}

.header {
    grid-area: "header";
    background: #0e6993;
    height: 10vh;
}

.navigation {
    grid-area: "navigation";
    background: #0e6993;
    height: 5vh;
}

.content {
    grid-area: "content";
}

.footer {
    grid-area: "footer";
    background: #0e6993;
    height: 10vh;
}
