.table-flex-container {
    overflow-x: auto;
    margin: 0;
}

table {
    min-width: 100%;
}

.disabled, .disabled:hover {
    background-color: lightgray;
    color: gray;
}

.loading-button {
    display: grid;
    grid-template-columns: 15fr 1fr;
}