.panel-right {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: .25rem;
}

.panel-right-open {
    display: grid;
    grid-template-columns: auto 1fr;
}

app-map-control {
    padding-top: 2px;
    background-color: var(--main-transparent);
}