:host {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 5px;
}

:host::ng-deep.mat-checkbox-layout {
    white-space: normal !important;
}

.mat-checkbox {
    height: 100%;
    width: 100%;
}

.mat-checkbox:hover {
    background-color: var(--main-hover);
}