<div class="output-container">
    <strong class="centered">Output</strong>
    <div class="scroll-pane">
        <div class="container-item">
            <div class="centered"><strong>Simulation Name</strong></div>
            <section class="example-section" [formGroup]="checkboxForm">
                <ng-container formArrayName="boxes">
                    <div *ngFor="let type of types;">
                        <mat-checkbox class="example-margin">
                            {{type}}
                        </mat-checkbox>
                    </div>
                </ng-container>
            </section>
        </div>
    </div>
</div>