<h4>Comid: *get selected comid from service*</h4>
<form class="form-row">
    <label>SV Index</label>
    <select></select>
    <label>Use Constant Loading?</label>
    <input formControlName="useConst" type="checkbox">
    <label>Constant Loading</label>
    <input formControlName="constLoading" type="text">
    <label>Loading Multiplier</label>
    <input formControlName="loadingMulti" type="text">
    <label>Upload Alternate Loadings</label>
    <input formControlName="altLoadings" type="file">
</form>
