<div>Stream segment loading</div>
<h4>Comid: {{ selectedComId || "no stream segment selected" }}</h4>
<form class="form-row" [formGroup]="inputFormGroup" *ngIf="selectedComId">
    <label>SV Index</label>
    <select></select>
    <label>Use Constant Loading?</label>
    <input type="checkbox" (change)="useConstLoadings = !useConstLoadings" checked>
    <label *ngIf="useConstLoadings">Constant Loading</label>
    <input *ngIf="useConstLoadings" formControlName="constLoading" type="text">
    <label *ngIf="!useConstLoadings">Upload Alternate Loadings</label>
    <input *ngIf="!useConstLoadings" formControlName="altLoadings" type="file">
    <label>Loading Multiplier</label>
    <input formControlName="loadingMulti" type="text">
</form>
