:host {
    width: 100%;
}

.segment-form {
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--column-gap);
}

.table-flex-container {
    overflow: auto;
    display: flex;
}