.primary-content {
    position: relative;
    height: 100%;
}

.float {
    position: absolute;
    z-index: 9999;
}

.panel-left {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0.25em;
    box-sizing: border-box;
}

.panel-right {
    top: 0;
    right: 0;
    min-height: 0;
    height: 100%;
}
