body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--main-epa);
}

.float {
    position: absolute;
    z-index: 9999;
}

.panel-left {
    top: inherit;
    left: 0;
    height: 100%;
    padding: 0.25em;
    box-sizing: border-box;
}

.panel-right {
    top: inherit;
    right: 0;
}

app-footer {
    text-align: center;
}