body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #2f7b9e;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.float {
    position: absolute;
    z-index: 9999;
}

.panel-left {
    top: inherit;
    left: 0;
}

.panel-right {
    top: inherit;
    right: 0;
}

app-footer {
    text-align: center;
}