/* You can add global styles to this file, and also import other style files */
:root {
    --main-epa: rgb(47, 123, 158);
    --main-color: rgb(195, 195, 195);
    --main-background: rgb(176, 196, 222);
    --main-transparent: rgba(176, 196, 222, 0.75);
    --main-button: rgb(176, 196, 222);
    --main-hover: rgba(146, 146, 146, 0.5);
    --main-active: rgb(250, 146, 146);
    --main-working: rgb(71, 199, 255);
    --main-ready: rgb(0, 190, 19);
    --main-fail: rgb(255, 0, 0);

    --row-gap: .19rem;
    --column-gap: .125rem;

    --main-max-panel-height: 75vh;

    --main-list-short-height: 8vh;
}

html {
    scroll-behavior: smooth;
}

body { 
    margin: 0px;
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button,
.segment-status {
    font-size: .75rem;
    display: grid;
    place-items: center;
    height: 1.5rem;
    border-radius: 5px;
    border: 1px solid rgb(150, 150, 150);
    background-color: var(--main-button);
}

.button {
	-webkit-box-shadow: 0 3px 3px -2px black;
	   -moz-box-shadow: 0 3px 3px -2px black;
	        box-shadow: 0 3px 3px -2px black;
}

.button:active {
    transform: translateY(2px);
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}


.button:hover,
.segment-status:hover ,
mat-icon:hover {
    background-color: var(--main-hover);
}

.icon-panel-toggle {
    background-color: var(--main-transparent);
}

.active {
    background-color: var(--main-active);
}

.progress {
    background-color: var(--main-working);
}

.ready {
    background-color: var(--main-ready);
}

.fail {
    background-color: var(--main-fail);
}

.centered {
    text-align: center;
}

.vertical-center {
    display: grid;
    align-items: center;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--column-gap);
}

.container-item,
.section-item,
.scroll-pane {
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
}

.container-item {
    padding: .25rem;
    background-color: var(--main-color);
    border: 1px solid rgb(150, 150, 150);
}

.section-item {
    margin: 0px;
}

.scroll-pane {
    overflow-y: auto;
    max-height: var(--main-max-panel-height);
}

.list-short {
    padding-bottom: var(--row-gap);
    max-height: var(--main-list-short-height);
}

@keyframes splash {
    from { opacity: 0.0; } 
    to { opacity: 1.0 }
}

.splash {
    animation: splash 1s ease-in-out infinite alternate;
}

.button,
mat-icon:hover,
.segment-status,
select,
input[type='number'],
input[type='date'],
input[type='radio'] {
    cursor: pointer;
}

.comid-tooltip {
    z-index: 9999;
}

input[type='number'] {
    text-align: center;
}

input[type='number'].input-comid {
    width: 100px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgrey; 
}

::-webkit-scrollbar-thumb {
    background: gray; 
}

::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
}