<div class="execution-container container-item">
    <div>
        <div><strong>Simulation Status:</strong> {{ simStatus }}</div>
        <div>{{ status_message }}</div>
    </div>
    <div class="button" *ngIf="!simComplete">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <app-segment-status-list></app-segment-status-list>
    <div>
        <div *ngIf="simComplete && simStatus !== 'FAILED'">
            <div class="button ready" (click)="gotoOutput()">Examine Output</div>
            <div class="button ready" (click)="downloadSimResults()"
                [class.disabled]="simComplete && simStatus == 'COMPLETED'">Download Data</div>

            <div *ngIf="downloading" class="centered">Preparing .zip file for download</div>
            <div class="button" *ngIf="waiting">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
        </div>
        <div class="button" *ngIf="!simComplete" (click)="cancelExecution()">Cancel Simulation Execution</div>
    </div>
</div>