:host {
    min-height: 0;
}

.grid-container {
    width: 180px;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: var(--row-gap);
    max-height: 100%;
}

.container-item {
    overflow-y: auto;
}