mat-icon:hover {
    cursor: pointer;
    background-color: var(--main-hover);
}

.container {
    background: var(--main-background);
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}