.panel-left {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: .25rem;
    background-color: var(--main-background);
}

.panel-left-open,
.panel-left-closed {
    display: grid;
    grid-template-columns: 1fr auto;
}

.panel-left-closed {
    width: 200px;
}

.collapse-icon-left {
    position: absolute;
    top: 0;
    right: -1.5rem;
    margin-top: .25rem;
}

app-input, app-output-panel-left {
    background-color: var(--main-transparent);
}