.panel-left {
    pointer-events: auto;
    display: flex;
    min-height: 0;
    max-height: 100%;
    background-color: var(--main-background);
}

.panel-left-container {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 0;
    max-height: 100%;
}

.panel-left-open,
.panel-left-closed {
    display: grid;
    grid-template-columns: 1fr auto;
}

.panel-left-closed {
    width: 200px;
}

.collapse-icon-left {
    position: absolute;
    top: 0;
    right: -1.5rem;
    margin-top: .25rem;
}

app-input, app-output-panel-left {
    background-color: var(--main-transparent);
    min-height: 0;
    box-sizing: border-box;
}